*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
a,h1,h2,h3,h4,h5,button,input,img{
  cursor: pointer;
}
a{
  text-decoration: none;
  font-size: 15px;
  color: black;
  padding: 10px;
  margin: 0;
}
button{
  border-radius: 50px;
  padding: 5px 25px;
  border: 5px solid gray;
  background-color: transparent;
  font-size: 30px;
}
input{
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 20px;
}
.search{
  padding: 10px 10px;
  width: 700px;

}
/* OLX by marketON */
/* row1 */

.row1{
background-color: aliceblue;
padding: 0;
margin: 0;
}
.row1>.c1{
  display: flex;
  padding: 0px 150px;
  align-items: center;
  margin: 0;
}
.row1>.c1>.olx{
  margin: 0;
  padding: 0;
}
.row1>.c2{
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
  align-items: center;
}
.row1>.c2>ul{
  padding: 0;
  margin: 0;
  align-items: center;
  display: flex;
}
.row1>.c2>.btnandsearch>button{
margin-left: -135px;
margin-top: 1px;
border-radius: 1px;
background-color: black;
color: aliceblue;
border: none;
padding: 5px 20px;
}
.row1>.c3{
  display: flex;
  align-items: center;
  padding: 0 150px;
  background-color: antiquewhite;
}
/* row1 */



    /* < !-- row2 --> */

.row2{
  height: 600px;
  width: 100%;
}
.row2>.image{
  width: 100%;
  height: 100%;
  background: url(Images/OLX-Pakistan.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
        /* < !-- row2 --> */




        /* row3 */

.row3{
  width: 100%;
}
.row3>p{
  padding: 10px;
  font-size: 30px;
}
.row3>.c1{
  height: 330px;
background-color: bisque;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.row3>.c1>.card{
  height: 300px;
  width: 19%;
  margin: 10px;
  background-color: aliceblue;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
                /* row3 */


        /* <!-- row4 -->  */
.row4{
  background-color: aqua;
  height: 600px;
}
.row4>.c1{
  height: 10%;
  align-items: center;
  display: flex;
  justify-content: center;
}
.row4>.c1>button{
  background-color: transparent;
  color: black;
  border-radius: 10px;
  border: 2px solid black;
}
.row4>.c2{
  height: 40%;
  display: flex;
  justify-content: center;
}
.row4>.c2>.image{
  width: 80%;
  height: 100%;
  background: url(Images/OLX-Pakistan.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.row4>.c3 {
  margin-top: 30px;
  width: 100%;
  height: 40%;
  background: url(Images/OLX-Pakistan.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
                /* <!-- row4 -->  */